@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: hsl(235, 18%, 26%);
  color: hsl(234, 29%, 20%);
  font-size: 14px;
  font-family: "Roboto", sans-serif;

  height: 100vh; /* viewport heigth -> El alto de lo visible de la pantalla*/

  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: hsl(0, 0%, 100%);
  width: 400px;
  height: 400px; /*Valor mínimo, si se sobrepasa, sigue creciendo*/
  border-radius: 20px;
}

.content {
  padding: 28px;
  padding-top: 0px;
  padding-left: 45px;
}

.content h1 {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 40px;
}

.content p {
  line-height: 20px;
  margin-bottom: 30px;
}

.content button {
  width: 320px;
  height: 50px;
  background-color: hsl(234, 29%, 20%);
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.content button:hover {
  background: linear-gradient(to right, #ff5572, #ff673e);

  box-shadow: 1px 5px 20px #ff673e;
}

.image {
  padding: 40px;
  padding-bottom: 0px;
}
