.early-access {
  width: min(100% - 3rem, 53rem);
  padding: 2rem;
  font-family: var(--font-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;

  background-color: var(--primary-dark-blue-testimonials);
  border-radius: 2rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 3px 3px 10px black;
}

.early-access h2 {
  font-size: 2rem;
}

.early-access form {
  display: flex;
  gap: 2rem;

  width: 100%;
}

@media (max-width: 768px) {
  .early-access form {
    flex-direction: column;
  }
}

.early-access input[type="text"] {
  background-color: var(--neutral-white);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  width: min(100%, 30rem);
}

.early-access input[type="submit"] {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 120px;
  color: var(--neutral-white);
  background: linear-gradient(
    90deg,
    var(--accent-cyan) 0%,
    var(--accent-blue) 35%
  );
}

.early-access input[type="submit"]:hover {
  background: linear-gradient(
    90deg,
    var(--accent-cyan) 35%,
    var(--accent-blue) 100%
  );
  /*
    background: none;
    background-color: var(--accent-cyan); */
  cursor: pointer;
}
