.features {
  display: grid; /*A diferencia de flex este trabaj en 2 ejes */
  grid-template-columns: 340px 340px; /*columna de npx*/
  justify-content: center;
  gap: 5rem;
  background-color: var(--primary-dark-blue-main);
}

.feature {
  /*  text-align: center;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

@media (max-width: 768px) {
  /* SE APLICA A DISPOSITIVOS COMO TABLES Y CELULARES */
  .features {
    grid-template-columns: 340px;
  }
}

.feature__title {
  font-family: var(--font-primary);
  /*  margin-top: 1.3rem;*/
}

.feature__text {
  font-family: var(--font-secondaryimary);
  font-weight: var(--font-weight-regular);
  /*  margin-top: 1rem;*/
  text-align: center;
}
